<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd
">
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.nicefish.service.*" />

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"/>
		<property name="loginUrl" value="/access/login"/>
		<property name="filters">
			<map>
				<entry key="acf">
					<bean class="com.nicefish.auth.AccessControlFilter"/>
				</entry>
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/access/login=anon
				/access/register=anon
				/post/**=anon
				/=anon
				/** = acf
			</value>
		</property>
	</bean>

	<bean id="hashedCredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="sha-512"/>
		<property name="hashIterations" value="1024"/>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="formRealm"/>
				<ref bean="jwtRealm"/>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
		<property name="arguments" ref="securityManager"/>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<bean id="formRealm" class="com.nicefish.auth.FormRealm">
		<property name="credentialsMatcher" ref="hashedCredentialsMatcher"/>
	</bean>
	<bean id="jwtRealm" class="com.nicefish.auth.JwtRealm"/>
</beans>